// src/components/FeaturesSection/FeaturesSection.module.scss

.featuresSection {
  display: flex;
  flex-direction: column;
  background-color: white;
}

@media (min-width: 920px) {
  .featuresSection {
    flex-direction: row;
  }
}