// src/pages/SignInPage/SignInPage.module.scss

.error {
  &Container {
    margin-bottom: 2rem;
  }
  &Text {
  color: red;
  font-weight: bold;    
  }
}

.signIn {
  &Container {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
  }
  &Icon {
    font-size: 2rem;
  }
}

.input {
  &Wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
    
    label {
      font-weight: bold;
    }

    input {
      padding: 5px;
      font-size: 1.2rem;
    }
  }
  &Remember {
    display: flex;
    justify-content: flex-start
    ;

    input {
      flex: 0;
    }

    label {
      //flex: 1;
      margin: 0;
      margin-left: 0.25rem;
    }
  }
}



form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  padding: 10px;
  background-color: #00b300;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
}
